USE [master]
GO
/****** Object:  Database [UsersRedAceite]    Script Date: 26/9/2024 18:12:03 ******/
CREATE DATABASE [UsersRedAceite]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UsersRedAceite', FILENAME = N'D:\SQL SERVE\MSSQL16.SQLEXPRESS\MSSQL\DATA\UsersRedAceite.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UsersRedAceite_log', FILENAME = N'D:\SQL SERVE\MSSQL16.SQLEXPRESS\MSSQL\DATA\UsersRedAceite_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UsersRedAceite].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UsersRedAceite]
GO
/****** Object:  Table [dbo].[Acceso]    Script Date: 26/9/2024 18:12:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Acceso](
	[IdAcceso] [uniqueidentifier] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[TipoAcceso] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAcceso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamiliaAcceso]    Script Date: 26/9/2024 18:12:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamiliaAcceso](
	[IdFamilia] [uniqueidentifier] NULL,
	[IdAccesoHijo] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 26/9/2024 18:12:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[EmpleadoGuid] [uniqueidentifier] NOT NULL,
	[IdEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[IdRol] [int] NOT NULL,
	[nombreUsuario] [varchar](50) NOT NULL,
	[contraseña] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpleadoGuid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioAcceso]    Script Date: 26/9/2024 18:12:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioAcceso](
	[EmpleadoGuid] [uniqueidentifier] NULL,
	[IdAcceso] [uniqueidentifier] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FamiliaAcceso]  WITH CHECK ADD FOREIGN KEY([IdAccesoHijo])
REFERENCES [dbo].[Acceso] ([IdAcceso])
GO
ALTER TABLE [dbo].[FamiliaAcceso]  WITH CHECK ADD FOREIGN KEY([IdFamilia])
REFERENCES [dbo].[Acceso] ([IdAcceso])
GO
ALTER TABLE [dbo].[UsuarioAcceso]  WITH CHECK ADD FOREIGN KEY([EmpleadoGuid])
REFERENCES [dbo].[User] ([EmpleadoGuid])
GO
ALTER TABLE [dbo].[UsuarioAcceso]  WITH CHECK ADD FOREIGN KEY([IdAcceso])
REFERENCES [dbo].[Acceso] ([IdAcceso])
GO
USE [master]
GO
